body {
  font-family: 'Roboto Mono', monospace;
  background-image: url('./images/paper-bg.jpg');

  /* background-color: grey; */
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav-li {
  float: left;
}

.nav-li-a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 30px;
}

.nav-li-a:hover {
  background-color: #111;
}

.home-icon {
  width: 40px;
  padding: 14px 14px;
  padding-top: 14px;
}

.header {
  padding: 40px;
  text-align: center;
  background: #9bcc5f;;
  color: white;
  font-size: 50px;
  margin-top: 10px;
}

.nav-header {
  display: block;
  color: #f0c610;
  text-align: right;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 30px;
  float: right;
}

.heading {
  color: #9bcc5f; 
}

.capitalize {
  text-transform: 'capitalize';
}


.attr-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
.attr-li {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;

}
 
.attr-li:last-child {
  border: none;
}
 
.attr-li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}
 
.attr-li a:hover {
  font-size: 30px;
  background: #f6f6f6;
}

.padded-div {
  padding-left: 90px;
}

.imageSize {
  width: 400px;
  position: relative;
  left: 40%;
}

.monster-name {
  text-align: center;
  color: #9bcc5f; 
}

.monster-attr {
  text-align: center;
}

.monster-description {
  text-align: center;
  margin-left: 600px;
  margin-right: 600px;
}
